@use "../style/tokens.scss" as t;

.header-container {
  display: flex;
  flex-direction: column;
  background-color: t.$color-card-background;
  padding: 10px 20px;
  border-radius: t.$card-border-radius;
  
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border: 1px solid t.$color-border;
    padding: 10px 20px;
  border-radius: t.$card-border-radius;

}

.header-logo img {
  height: 70px;
  width: auto;
}
